# Data Types and Structures

1. What are data structures, and why are they important?
  >Data structure are organized formats used to store,manage and process data efficiently in computer programming. They are crucial because the right data structures helps optimize data retrival,manipulation and storage which leads to efficient system performance.

2. Explain the difference between mutable and immutable data types with examples?
  >Mutable data types can be modified after creation (ex- List,Dictionary,Sets etc) whereas Immutable data types cannot be modified after creation (ex- Strings,Tuples).

3. What are the main differences between lists and tuples in Python?
  >List

*   Mutable
*   Slower
*   More memory
*   [] only use

  >Tuple
*   Immutable
*   Faster
*   Less memory
*   () only use

4. Describe how dictionaries store data?
  >Dictionary store data in Key value pairs.Key must be unique and are of strings or numbers(immutable).Hash tables for fast lookups by key.

5. Why might you use a set instead of a list in Python?
  >Set automatically removes dublicate values,support fast membership testing and provide mathematical set operations.They are suitable when elemnet uniqueness and fast lookup are essential whereas List allow dublicates and are ordered.

6. What is a string in Python, and how is it different from a list?
  >A String is a sequence of characters and immutable whereas a List is sequence that can hold any data types(numbers,objects or mixed) and is mutable.

7.  How do tuples ensure data integrity in Python?
  >Tuples are immutable and this prevents accidental modification, supporting data integrity in programs.

8.  What is a hash table, and how does it relate to dictionaries in Python?
  >A Hash table is a data structures that associates keys with values using a hash function for a rapid access.Pyhton dictionary is implemented as hash tables providing average time complexity for lookup,insert and delte operations.

9.  Can lists contain different data types in Python?
  >Yes, List can contain elements of different data types such as strings,integers,bool or even other list.

10. Explain why strings are immutable in Python?
  >Strings are immutable because of memory efficiency,safety in multi threading and enabling strings to be hashable.Modifications leads to new object than changing the existing one.

11. What advantages do dictionaries offer over lists for certain tasks?
  >Dict provides faster data retrival and store data as key value pairs allowing more organized and meaningful data.

12. Describe a scenario where using a tuple would be preferable over a list.
  >Tuples are preferable when storing a fixed collection of items like coordinates or days of week that should not change anywhere in the code.

13.  How do sets handle duplicate values in Python?
  >Sets automatically remove duplicates and only store unique elements.Adding duplicate items has no effect on the sets content.

14. How does the “in” keyword work differently for lists and dictionaries?
  >"in" with a list checks for presence of a value whereas in Dict it checksfor a key.

15. Can you modify the elements of a tuple? Explain why or why not?
  >Tuples are immutable sp elements cannot be added or removed or changed after creation.Any modification will raise a Type Error.

16.  What is a nested dictionary, and give an example of its use case?
  >A Nested dict is dict with another dict as a value.Ex- storing student records where ecah student ID maps to another dict of name,age and grade.

17. Describe the time complexity of accessing elements in a dictionary
  >Accessing an elemet by key in a dict has average time complexity O(1) due to hash table implemetation.

18. In what situations are lists preferred over dictionaries?
  >List are preferred for ordered data,sequential element access with integer indices or when duplicate items are needed.They are also more space efficient for small,simple collections.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
  >In earlier versions of Python, dict were unordered, meaning key values pairs had no guaranteed order.This affect retrival if order matters.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
  >List:
*   Order guaranteed by index
*   Retrival slower for large lookups
*   Data accessed by integer index

  Dictionary:
*   Order not guarnteed in all version
*   Retrival fast for lookups
*   Data accessed by key

# **Practical** **Questions**

In [1]:
#Write a code to create a string with your name and print it.
name= "Nipun"
print(name)

Nipun

In [3]:
# Write a code to find the length of the string "Hello World".
s= "Hello World"
print(len(s))

11

In [4]:
# Write a code to slice the first 3 characters from the string "Python Programming".
s= "Python Programming"
print(s[:3])

Pyt

In [5]:
#Write a code to convert the string "hello" to uppercase.
s= "hello"
print(s.upper())

HELLO

In [7]:
# Write a code to replace the word "apple" with "orange" in the string "I like apple".
s= "I like apple"
print(s.replace("apple","orange"))

I like orange

In [8]:
# Write a code to create a list with numbers 1 to 5 and print it.
lst= [1,2,3,4,5]
print(lst)

[1, 2, 3, 4, 5]

In [10]:
#Write a code to append the number 10 to the list [1, 2, 3, 4].
lst= [1,2,3,4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

In [11]:
#Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
lst= [1,2,3,4,5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

In [15]:
# Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
lst= ["a","b,","c","d"]
print(lst[2])

c

In [18]:
#Write a code to reverse the list [10, 20, 30, 40, 50].
lst= [10,20,30,40,50]
print(lst[::-1])

[50, 40, 30, 20, 10]

In [19]:
#Write a code to create a tuple with the elements 100, 200, 300 and print it.
t= (100,200,300)
print(t)

(100, 200, 300)

In [21]:
#Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
t= ("red","green","blue","yellow")
print(t[-2])

blue

In [22]:
#Write a code to find the minimum number in the tuple (10, 20, 5, 15).
t= (10,20,5,15)
print(min(t))

5

In [23]:
#Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
t= ('dog', 'cat', 'rabbit')
print(t.index("cat"))

1

In [25]:
#Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
t= ("apple","mango","kiwi")
print("kiwi" in (t))

True

In [27]:
#Write a code to create a set with the elements 'a', 'b', 'c' and print it.
s= {'a', 'b', 'c'}
print(s)

{'a', 'c', 'b'}

In [29]:
#Write a code to clear all elements from the set {1, 2, 3, 4, 5}
s= {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

In [30]:
#Write a code to remove the element 4 from the set {1, 2, 3, 4}.
s= {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

In [32]:
#Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
u1= {1, 2, 3}
u2= {3, 4, 5}
print(u1.union(u2))

{1, 2, 3, 4, 5}

In [34]:
#Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
a= {1, 2, 3}
b= {2, 3, 4}
print(a.intersection(b))

{2, 3}

In [35]:
#Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
d= {"name": "Nipun", "age": "26", "city": "Delhi"}
print(d)

{'name': 'Nipun', 'age': '26', 'city': 'Delhi'}

In [36]:
#Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}
d= {'name': 'John', 'age': 25}
d["country"]= "USA"
print(d)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [37]:
#Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
d= {'name': 'Alice', 'age': 30}
print(d["name"])

Alice

In [38]:
#Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
d= {'name': 'Bob', 'age': 22, 'city': 'New York'}
del d["age"]
print(d)

{'name': 'Bob', 'city': 'New York'}

In [40]:
#Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
d= {'name': 'Alice', 'city': 'Paris'}
print("city" in d)

True

In [45]:
#Write a code to create a list, a tuple, and a dictionary, and print them all.
lst= [1,2,3,4]
tup= (1,2,3,4)
d= {"name":"Nipun","age":26,"city":"Delhi",}
print(lst)
print(tup)
print(d)

[1, 2, 3, 4]
(1, 2, 3, 4)
{'name': 'Nipun', 'age': 26, 'city': 'Delhi'}

In [50]:
#Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random
lst= [random.randint(1,100) for _ in range(5)]
lst.sort()
print(lst)

[13, 48, 87, 91, 100]

In [54]:
#Write a code to create a list with strings and print the element at the third index.
lst= ["apple","orange","mango","banana"]
print(lst[3])

banana

In [57]:
#Write a code to combine two dictionaries into one and print the result.
d= {"a":1,"b":2,"c":3}
e= {"m":4,"n":5,"o":6}
a= {**d,**e}
print(a)

{'a': 1, 'b': 2, 'c': 3, 'm': 4, 'n': 5, 'o': 6}

In [58]:
#Write a code to convert a list of strings into a set.
lst= ["apple","mango","orange"]
s= set(lst)
print(s)

{'orange', 'apple', 'mango'}